body{
  background-image: url("../Pokemon_App/images/background.png");
  background-repeat:no-repeat;
  background-size:cover;
}

h2{
  padding:30px;
}


h1{
  color: white;
  text-align: center;
  line-height:1.1;
  background-color: steelblue;
  margin:0;
  font-weight:normal;
  text-transform:uppercase;
  padding:20px,0;
}
/* 
 button {
    background-color: black; /* Green */
    border: none;
    color: white;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 4px;
  } */

  .pokemon-imput{
    width:20px;
  }
  .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.flipCard {
    -webkit-perspective: 800;
    -ms-perspective: 800;
    -moz-perspective: 800;
    -o-perspective: 800;
     width: 18rem;
     height:35rem;
     position: relative;
     margin: 30px auto;
  }
  .flipCard .card.flipped {
    transform:rotatey(-180deg);
    -ms-transform:rotatey(-180deg); /* IE 9 */
    -moz-transform:rotatey(-180deg); /* Firefox */
    -webkit-transform:rotatey(-180deg); /* Safari and Chrome */
    -o-transform:rotatey(-180deg); /* Opera */
  }
  .flipCard .card {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    -moz-transform-style: preserve-3d;
    -moz-transition: 0.5s;
    -ms-transform-style: preserve-3d;
    -ms-transition: 0.5s;
    -o-transform-style: preserve-3d;
    -o-transition: 0.5s;
    transform-style: preserve-3d;
    transition: 0.5s;
  }
  .flipCard .card .side {
     width: 100%;
    height: 100%;
    padding: 10px; 
    cursor: pointer;
    position: absolute;
    box-sizing: border-box;
    z-index: 2;
    backface-visibility: hidden;  /* W3C */
    -webkit-backface-visibility: hidden; /* Safari & Chrome */
    -moz-backface-visibility: hidden; /* Firefox */
    -ms-backface-visibility: hidden; /* Internet Explorer */
    -o-backface-visibility: hidden; /* Opera */
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    overflow: auto;
  }
  .flipCard .card .back {
    background: white;
    color: black;
    transform:rotatey(-180deg);
    -ms-transform:rotatey(-180deg); /* IE 9 */
    -moz-transform:rotatey(-180deg); /* Firefox */
    -webkit-transform:rotatey(-180deg); /* Safari and Chrome */
    -o-transform:rotatey(-180deg); /* Opera */
  }
  
  .flipCard .card .front {
    /* font-family: Georgia;
    font-size: 20px; */
    text-align: center;
    /* border-radius:25px 25px 25px 25px; */
    line-height: 130px;
    background-image: url("../Pokemon_App/images/image.png");
    background-repeat:no-repeat;
    background-size:cover;
    /* background-color: #7030a0; */
    border: 3px solid white;
    color: white;
  
  }
  .flipCard .card .back {
    background-color: #dbb2f9;
    border: 3px solid white;
    /* border-radius:25px 25px 25px 25px; */
    text-align: center;
    color: black;
    padding-top: 50px;
    /* font-family: Georgia;
    font-size: 20px; */
  }

